.container-5 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.left-section, .right-section {
    flex: 1;
    min-width: 300px; /* Minimum width for each section */
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./img/campus.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust based on your design */
    margin-bottom: 20px;
}

.video-wrapper video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.academic-info {
    text-align: center;
    color: white; /* Adjust if background image affects text visibility */
}

.academic-info h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.academic-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.cta-button {
    background-color: #003366;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.right-section {
    border: 1px solid #ededed;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1),0 6px 20px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.events-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.events-list {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    position: absolute;
    animation: scroll-up 10s linear infinite;
}

.event-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.event-item .date {
    background-color: #003366;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.annual-calendar-btn {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}