.counter-container {
    display: flex;
    justify-content: space-around;
    background-color: #003366;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
}

/* Individual counter styling */
.counter {
    text-align: center;
}

/* Counter value styling */
.counter-value {
    font-size: 24px;
    margin: 10px 0;
}

/* Counter title styling */
.counter-title {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}
@media (max-width:768px) {
    
    .counter-title {
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0;
        color: #fff;
    }
    .counter-value {
        font-size: 20px;
        margin: 10px 0;
    }
}