

.header-s-o-e {
    height: 50px;
    width: 400px;
    background-color: #003366;
    padding: 20px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}

.container-s-e-o {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.school-box {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    
}

.school-box:hover {
    transform: scale(1.02);
}

.school-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.school-content {
    margin-left: 20px;
}

.school-name {
    background-color: #a30000;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.school-details {
    margin-top: 10px;
}

.school-details p {
    margin: 5px 0;
    font-size: 16px;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}