@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "poppins";
}
#history-1{
  display: flex;
}
#history-1 img{
    height:300px;
    width:600px;
    margin: 20px 0;
    border-radius: 10px;
    border:2px solid #ededed;
    box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.2);
}
#history-1 p{
    padding: 10px;
    font-size: 18px;
}
.about p{
    padding: 15px;
}
.about p{
    font-size: 20px;
}
.p-tag{
    font-size: 20px;
}